page-localise-ski {
  #rotatingArrow {
    margin: 30px;
    width: 200px;
    height: 200px;
    transition: all 0.3s ease;
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(var(--deg));
    }
  }
}
