<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ski connected</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="cards.length != 0">Press an item to rename it</ion-item>

  <ion-list>
    <div ion-item detail='false' *ngFor="let card of cards">
      <div (click)='rename(card)'>
        {{card.name}}
      </div>
      <div class="removeButton" item-end>
        <button ion-button color="dark" round (click)="localiseSki(card)">
          <ion-icon name="pin"></ion-icon>
        </button>
        <button ion-button color="danger" round (click)="removeSkiCard(card)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </div>
    </div>
  </ion-list>

  <ion-item float='center'>
    <button ion-button (click)="createSkiCard()">
      Add a skiCard
    </button>
  </ion-item>
  <ion-footer no-shadow>
    <ion-toolbar position="bottom">
      <div *ngIf="gatewayConnected; else connect">
		    <button ion-button full >Gateway Connected</button>
      </div>
      <ng-template #connect>
        <button ion-button color="danger" (click)="openSetting()" full>Click to connect the gateway</button>
      </ng-template>
	</ion-toolbar>
</ion-footer>
</ion-content>
