<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ski connected</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>Press one to rename</ion-item>

  <ion-list>
    <button ion-item detail='false' *ngFor="let card of cards;let i = index" (click)='rename(card)'>
      {{card.name}}
      <div class="removeButton" item-end>
        <button ion-button color="dark" round (click)="localiseSki(card)">
          <ion-icon name="pin"></ion-icon>
        </button>
        <button ion-button color="danger" round (click)="removeSkiCard(card)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </div>
    </button>
  </ion-list>

  <button ion-button (click)="createSkiCard()">
    Add a skiCard
  </button>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
