<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ski connected</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div ion-item *ngFor="let card of cards;let i = index">
      {{card.uid}}
      <div class="item-note" item-end>
        <button (click)="removeSkiCard(card)">
        X
        </button>
      </div>
      
    </div>
  </ion-list>
  <button (click)="createSkiCard()">
   +
  </button>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
